/* Style for Viaturas Temp */
* , html , body {
	box-sizing: border-box;
}

.container_body {
	padding-top: 152px;
}

img#brasaoEstadoMaior {
	display: block;
	margin: 0 auto;
	width: 40%;
	opacity: 0.4;
}

#backgoundImage {
	width: 100%;
	margin: 0 auto;
	display: block;
	position:fixed;
	z-index: -1;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
}

.container_head {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 152px;
	background-color: #006600;
	border-bottom:3px double #f00;
	font-family: 'BebasNeue', sans-serif;
}

.top_head {
	vertical-align: top;
	display: inline-block;
}

h1#title{
	margin: 0;
	padding: 0;
	text-transform: uppercase;	
	color: #fffa00;
	font-size: 320%;
}

#logo_EME{
	background-color: #fff;
	max-width: 25%;
	text-align: center;
	padding-top: 1em;
}

#logoExercito {
	width: 65%;
}

#title_Page {	
	line-height: 100%;
	margin-left: 7%;
	margin-top: 7.5%;
}

/* =============================================================================================== */
/* MEDIA QUERY */

@media screen and (min-width:1350px) {

	h1#title{
		font-size: 400%;
	}

	#title_Page{
		margin-left: 4.5%;
		margin-top: 5%;
	}

	img#brasaoEstadoMaior{
		width: 30%;
	}
}
